extends base

block content 
    form(method="POST") 
        if err
            span=err
        input(type="password" placeholder="Old Password" name="oldPw")
        input(type="password" placeholder="New Password" name="newPw")
        input(type="password" placeholder="New password Confirm." name="confirmPw")
        input(class="submit" type="submit" value="Change-Password")